In [0]:
data = [

    ("E101", "Amit", "Sales", 10, 1200),

    ("E102", "Sneha", "Marketing", 8, 1500),

    ("E103", "Ravi", "Sales", 12, 1300),

    ("E104", "Anjali", "HR", 7, 1100),

    ("E105", "Raj", "Sales", 5, 1000)

]
 
columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]
 
df = spark.createDataFrame(data, columns)

df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
+-----+------+----------+---------+---------+

In [0]:
total_employee=df.count()
print("Total number of employees in the company:",total_employee)

df=df.withColumn("total_sales",col("UnitsSold")*col("UnitPrice"))
df.show()

df_filtered=df.filter(col('Department')=="Sales").filter(col('total_sales')>10000)
df_filtered.show()

df_high=df.sort(col('total_sales').desc()).limit(1)
df_high.show()

df.sort(col('total_sales').desc()).show()

Total number of employees in the company: 5
+-----+------+----------+---------+---------+-----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|total_sales|
+-----+------+----------+---------+---------+-----------+
| E101|  Amit|     Sales|       10|     1200|      12000|
| E102| Sneha| Marketing|        8|     1500|      12000|
| E103|  Ravi|     Sales|       12|     1300|      15600|
| E104|Anjali|        HR|        7|     1100|       7700|
| E105|   Raj|     Sales|        5|     1000|       5000|
+-----+------+----------+---------+---------+-----------+

+-----+----+----------+---------+---------+-----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|total_sales|
+-----+----+----------+---------+---------+-----------+
| E101|Amit|     Sales|       10|     1200|      12000|
| E103|Ravi|     Sales|       12|     1300|      15600|
+-----+----+----------+---------+---------+-----------+

+-----+----+----------+---------+---------+-----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|total_sales|
+-----+----+----------+---------+---------+-----------+
| E103|Ravi|     Sales|       12|     1300|      15600|
+-----+----+----------+---------+---------+-----------+

+-----+------+----------+---------+---------+-----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|total_sales|
+-----+------+----------+---------+---------+-----------+
| E103|  Ravi|     Sales|       12|     1300|      15600|
| E101|  Amit|     Sales|       10|     1200|      12000|
| E102| Sneha| Marketing|        8|     1500|      12000|
| E104|Anjali|        HR|        7|     1100|       7700|
| E105|   Raj|     Sales|        5|     1000|       5000|
+-----+------+----------+---------+---------+-----------+