In [9]:
data = """OrderID,OrderDate,Customer,Segment,Region,Product,Category,SubCategory,Quantity,UnitPrice,Discount,Profit
CA-1001,2023-01-15,Ravi,Consumer,South,Laptop,Technology,Computers,1,55000,0.10,5000
CA-1002,2023-02-20,Priya,Corporate,North,Printer,Technology,Peripherals,2,12000,0.15,1800
CA-1003,2023-01-25,Amit,Consumer,East,Notebook,Office Supplies,Paper,3,200,0.05,150
CA-1004,2023-03-01,Anita,Home Office,West,Table,Furniture,Tables,1,18000,0.20,-1500
CA-1005,2023-02-05,Divya,Consumer,South,Phone,Technology,Phones,2,20000,0.00,3000"""

with open("superstore.csv", "w") as f:
    f.write(data)

In [11]:
import pandas as pd
df=pd.read_csv("superstore.csv")
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

In [17]:
print(df.info())
print("----------------------------------------------")
print(df.head())
print("----------------------------------------------")
print(df.shape)
print("----------------------------------------------")
print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      5 non-null      object
 1   OrderDate    5 non-null      object
 2   Customer     5 non-null      object
 3   Segment      5 non-null      object
 4   Region       5 non-null      object
 5   Product      5 non-null      object
 6   Category     5 non-null      object
 7   SubCategory  5 non-null      object
 8   Quantity     5 non-null      int64
 9   UnitPrice    5 non-null      int64
 10  Discount     5 non-null      float64
 11  Profit       5 non-null      int64
dtypes: float64(1), int64(3), object(8)
memory usage: 612.0+ bytes
None
----------------------------------------------
   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000
----------------------------------------------
(5, 12)
----------------------------------------------
OrderID         object
OrderDate       object
Customer        object
Segment         object
Region          object
Product         object
Category        object
SubCategory     object
Quantity         int64
UnitPrice        int64
Discount       float64
Profit           int64
dtype: object

In [31]:
df_selected=df[["Customer","Product","Profit"]]
print(df_selected)
print("----------------------------------------------")
print("----------------------------------------------")

df_filtered=df[(df["Profit"]>2000)&(df["Discount"]==0)]
print(df_filtered)
print("----------------------------------------------")
print("----------------------------------------------")

df_sorted=df.sort_values(by="Profit",ascending=False)
print(df_sorted)
print("----------------------------------------------")
print("----------------------------------------------")

df_grouped=df.groupby("Category").agg({"Profit":"sum","Discount":"mean"})
print(df_grouped)
print("----------------------------------------------")
print("----------------------------------------------")

df['TotalPrice']=df["Quantity"]*df["UnitPrice"]
print(df)
print("----------------------------------------------")
print("----------------------------------------------")

df=df.drop("SubCategory",axis=1)
print(df)
print("----------------------------------------------")
print("----------------------------------------------")

  Customer   Product  Profit
0     Ravi    Laptop    5000
1    Priya   Printer    1800
2     Amit  Notebook     150
3    Anita     Table   -1500
4    Divya     Phone    3000
----------------------------------------------
----------------------------------------------
   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

   Quantity  UnitPrice  Discount  Profit  TotalPrice
4         2      20000       0.0    3000       40000
----------------------------------------------
----------------------------------------------
   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice
0       Technology         1      55000      0.10    5000       55000
4       Technology         2      20000      0.00    3000       40000
1       Technology         2      12000      0.15    1800       24000
2  Office Supplies         3        200      0.05     150         600
3        Furniture         1      18000      0.20   -1500       18000
----------------------------------------------
----------------------------------------------
                 Profit  Discount
Category
Furniture         -1500  0.200000
Office Supplies     150  0.050000
Technology         9800  0.083333
----------------------------------------------
----------------------------------------------
   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice
0       Technology         1      55000      0.10    5000       55000
1       Technology         2      12000      0.15    1800       24000
2  Office Supplies         3        200      0.05     150         600
3        Furniture         1      18000      0.20   -1500       18000
4       Technology         2      20000      0.00    3000       40000
----------------------------------------------
----------------------------------------------

KeyError: "['SubCategory'] not found in axis"

In [32]:
df['Discount']=df['Discount'].fillna(0.10)
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice
0       Technology         1      55000      0.10    5000       55000
1       Technology         2      12000      0.15    1800       24000
2  Office Supplies         3        200      0.05     150         600
3        Furniture         1      18000      0.20   -1500       18000
4       Technology         2      20000      0.00    3000       40000

In [36]:
def classify(row):
  if row['Profit'] > 4000:
    return 'High'
  elif row['Profit'] > 0:
    return 'Medium'
  else:
    return 'Low'

df["ProductCategory"]=df.apply(classify,axis=1)
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice  \
0       Technology         1      55000      0.10    5000       55000
1       Technology         2      12000      0.15    1800       24000
2  Office Supplies         3        200      0.05     150         600
3        Furniture         1      18000      0.20   -1500       18000
4       Technology         2      20000      0.00    3000       40000

  ProductCategory
0            High
1          Medium
2          Medium
3             Low
4          Medium

In [37]:
print("----------------------------PART 2: PySpark DataFrame Operations-----------------------")

----------------------------PART 2: PySpark DataFrame Operations-----------------------

In [40]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
.appName("superstore")\
.getOrCreate()
spark

In [54]:
pf=spark.read.csv("superstore.csv",header=True,inferSchema=True)
pf.printSchema()
pf.show(5)
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")

from pyspark.sql.functions import col
pf_selected=pf.select("OrderID",col("Customer").alias("Client"),"Product")
pf_selected.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")


pf_filtered=pf.filter((col("Segment")=="Consumer")&(col("Profit")<1000))
pf_filtered.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")

pf_sorted=pf.orderBy(col("Profit").desc())
pf_sorted.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")


pf_grouped=pf.groupBy("Region").avg("Profit").alias("AverageProfit")
pf_grouped.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")

pf=pf.withColumn("TotalPrice",col("Quantity")*col("UnitPrice"))
pf.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")
from pyspark.sql.functions import when
pf=pf.withColumn("ProfitClassify",when(col("Profit")>2000,"High").when(col("Profit")<=0,"Loss").otherwise("Medium"))
pf.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")
pf=pf.drop("SubCategory")
pf.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")

pf=pf.fillna({"Discount":0.10})
pf.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")

from pyspark.sql.functions import year,month
pf=pf.withColumn("OrderDate",col("OrderDate").cast("date"))
pf=pf.withColumn("Year",year("OrderDate"))
pf=pf.withColumn("Month",month("OrderDate"))
pf.show()
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")

root
 |-- OrderID: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- SubCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- UnitPrice: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: integer (nullable = true)

+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+

--------------------------------------------------------------
--------------------------------------------------------------
+-------+------+--------+
|OrderID|Client| Product|
+-------+------+--------+
|CA-1001|  Ravi|  Laptop|
|CA-1002| Priya| Printer|
|CA-1003|  Amit|Notebook|
|CA-1004| Anita|   Table|
|CA-1005| Divya|   Phone|
+-------+------+--------+

--------------------------------------------------------------
--------------------------------------------------------------
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer| Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1003|2023-01-25|    Amit|Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+

--------------------------------------------------------------
--------------------------------------------------------------
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+

--------------------------------------------------------------
--------------------------------------------------------------
+------+-----------+
|Region|avg(Profit)|
+------+-----------+
| South|     4000.0|
|  East|      150.0|
|  West|    -1500.0|
| North|     1800.0|
+------+-----------+

--------------------------------------------------------------
--------------------------------------------------------------
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|TotalPrice|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|     55000|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|     24000|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|       600|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|     18000|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|     40000|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+

--------------------------------------------------------------
--------------------------------------------------------------
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+--------------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitClassify|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+--------------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|     55000|          High|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|     24000|        Medium|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|       600|        Medium|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|     18000|          Loss|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|     40000|          High|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+--------------+

--------------------------------------------------------------
--------------------------------------------------------------
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitClassify|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|          High|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|        Medium|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|        Medium|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|          Loss|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|          High|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+

--------------------------------------------------------------
--------------------------------------------------------------
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitClassify|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|          High|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|        Medium|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|        Medium|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|          Loss|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|          High|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+

--------------------------------------------------------------
--------------------------------------------------------------
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+----+-----+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitClassify|Year|Month|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+----+-----+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|          High|2023|    1|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|        Medium|2023|    2|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|        Medium|2023|    1|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|          Loss|2023|    3|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|          High|2023|    2|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+----+-----+

--------------------------------------------------------------
--------------------------------------------------------------

In [55]:
print("------------------------- PART 3: Dask DataFrame Operations (Pandas Alternative)------------------")

------------------------- PART 3: Dask DataFrame Operations (Pandas Alternative)------------------

In [56]:
 !pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.11/dist-packages (2025.5.0)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.11/dist-packages (from dask) (8.2.1)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dask) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.11/dist-packages (from dask) (2025.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from dask) (25.0)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from dask) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dask) (0.12.1)
Requirement already satisfied: importlib_metadata>=4.13.0 in /usr/local/lib/python3.11/dist-packages (from dask) (8.7.0)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib_metadata>=4.13.0->dask) (3.23.0)
Requirement already satisfied: locket in /usr/local/lib/python3.11/dist-packages (from partd>=1.4.0->dask) (1.0.0)

In [77]:
import dask.dataframe as dd
df=dd.read_csv("superstore.csv")
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")

avg_discount=df.groupby("Category")["Discount"].mean().compute()
print(avg_discount)


print("--------------------------------------------------------------")
print("--------------------------------------------------------------")
filtered=df[(df["Quantity"]>1)&(df["Profit"]>2000)].compute()
print(filtered)
print("--------------------------------------------------------------")
print("--------------------------------------------------------------")

filtered.to_csv('filtered_superstore.csv',index=True)

--------------------------------------------------------------
--------------------------------------------------------------
Category
Furniture          0.200000
Office Supplies    0.050000
Technology         0.083333
Name: Discount, dtype: float64
--------------------------------------------------------------
--------------------------------------------------------------
   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
4      Phones         2      20000       0.0    3000
--------------------------------------------------------------
--------------------------------------------------------------

In [79]:
print("------------------- JSON HANDLING---------------------------")

------------------- JSON HANDLING---------------------------

In [78]:
import json
json_data= [
     {
"OrderID": "CA-1001",
"Customer": {"Name": "Ravi", "Segment": "Consumer"},
"Details": {"Region": "South", "Profit": 5000}
},
{
"OrderID": "CA-1002",
"Customer": {"Name": "Priya", "Segment": "Corporate"},
"Details": {"Region": "North", "Profit": 1800}
}

]

with open("orders.json","w")as ff:
  json.dump(json_data,ff)

In [82]:
df_json=spark.read.json("orders.json",multiLine=True)
df_json.printSchema()
print("---------------------------")

df_json.select("OrderID","Customer.name","Details.Profit").show()

root
 |-- Customer: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Segment: string (nullable = true)
 |-- Details: struct (nullable = true)
 |    |-- Profit: long (nullable = true)
 |    |-- Region: string (nullable = true)
 |-- OrderID: string (nullable = true)

---------------------------
+-------+-----+------+
|OrderID| name|Profit|
+-------+-----+------+
|CA-1001| Ravi|  5000|
|CA-1002|Priya|  1800|
+-------+-----+------+