In [ ]:
 #Section 1: Nested Lists & Access

 students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]

print(students[0][1][1])

print("--------------------------")
for student in students:
  a=(sum(student[1]))/(len(student[1]))
  print(f"{student[0]}:{a}")

print("--------------------------")

for name,marks in students:
  if all(m>80 for m in marks):
    print(name)
print("--------------------------")

average=[[name,(sum(marks)/len(marks))] for name,marks in students]
print(average)

72
--------------------------
Ravi:82.33333333333333
Sneha:91.66666666666667
Kabir:65.0
Anita:77.66666666666667
--------------------------
Sneha
--------------------------
[['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

In [ ]:
# Section 2: Dictionary of Lists
data = {
"products": ["Mobile", "Laptop", "Tablet", "Camera"],
"prices": [12000, 55000, 18000, 25000],
"ratings": [4.5, 4.7, 4.0, 4.2]
}
products=[{"name":n,"price":p,"rating":r}for n,p,r in zip(data["products"],data["prices"],data["ratings"])]
print(products)
print("-----------------------------------")
filtered_products=[p for p in products if p["price"]>20000 and p["rating"]>=4.5]
print(filtered_products)
print("-----------------------------------")
sorted_produts=sorted(products,key=lambda p:p["price"],reverse=True)
print(sorted_produts)

[{'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}]
-----------------------------------
[{'name': 'Laptop', 'price': 55000, 'rating': 4.7}]
-----------------------------------
[{'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Mobile', 'price': 12000, 'rating': 4.5}]

In [2]:
# Section 3: Frequency Dictionary + Set Operations
text = "ai is the future and ai will change everything in the ai world"
words = text.split()

# 1. Frequency count
freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1

# 2. Words appearing more than once
repeated = [word for word, count in freq.items() if count > 1]
print(repeated)

# 3. Sorted unique words
unique_sorted = sorted(set(words))
print(unique_sorted)

# 4. Common words
set1 = set(words)
set2 = {"ai", "ml", "data", "future"}
common = set1 & set2
print(common)

['ai', 'the']
['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']
{'future', 'ai'}

In [3]:
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}

# 1. Add 10% bonus
bonus_sales = {k: v * 1.1 for k, v in sales.items()}
print(bonus_sales)

# 2. Filter sales > 50,000
high_sales = {k: v for k, v in sales.items() if v > 50000}
print(high_sales)

# 3. Labeling
labels = {}
for name, amount in sales.items():
    if amount >= 75000:
        labels[name] = "High"
    elif amount >= 40000:
        labels[name] = "Medium"
    else:
        labels[name] = "Low"
print(labels)

{'Amit': 77000.0, 'Sneha': 49500.00000000001, 'Ravi': 33000.0, 'Anita': 99000.00000000001, 'Kabir': 22000.0}
{'Amit': 70000, 'Anita': 90000}
{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

In [4]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

# 1. Zip to dictionary
student_dict = dict(zip(names, marks))
print(student_dict)

# 2. Min and max
print(min(marks), max(marks))

# 3. Set from marks + add value
mark_set = set(marks)
mark_set.add(85)
print(mark_set)

# 4. Merge sets
extra_marks = {90, 76, 100}
merged = mark_set | extra_marks
print(merged)

{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}
76 92
{88, 92, 85, 76}
{100, 85, 88, 90, 92, 76}

In [7]:
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

# 1. Add new employee
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 85000}
print(employees)
# 2. Increase salary for Engineering
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] *= 1.1
print(employees)
# 3. Department with highest average salary
from collections import defaultdict

dept_salaries = defaultdict(list)
for emp in employees.values():
    dept_salaries[emp["dept"]].append(emp["salary"])

avg_salaries = {dept: sum(sals)/len(sals) for dept, sals in dept_salaries.items()}
highest_dept = max(avg_salaries, key=avg_salaries.get)
print(highest_dept)

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 85000}}
{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000.0}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 93500.00000000001}}
Engineering